.header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 16px;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;

  div {
    padding: 40px;
    background: white;
    transition: 0.25s;
    cursor: pointer;
  }

  .app_home:hover {
    transition: 0.25s;
    color: #0ca678;
  }
}
