.search_bg {
  padding: 60px 0;
  width: 100%;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  .search_id {
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    color: white;
    padding: 0 32px;
    text-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
    margin-bottom: 12px;
  }
  .search_lv {
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: 700;
    text-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 700px) {
  .search_bg {
    .search_id {
      font-size: 60px;
      font-weight: 300;
      text-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
    }
    .search_lv {
      font-size: 20px;
    }
  }
}
