.app-main {
  text-align: center;
  margin: 80px 0;
  .app-main-title {
    display: inline-block;
    font-size: 72px;
    font-weight: 700;
  }
  .app-main-sub_title {
    padding: 20px 32px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 24px;
    border: 3px solid #20c997;
    span {
      color: #20c997;
    }
  }
}
.app-search {
  text-align: center;
}
