.section {
  opacity: 1;
  overflow: hidden;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  .section_big {
    font-size: 24px;
    font-weight: 700;
  }
  .section_small {
    color: #aaa;
  }
  .section_right {
    text-align: right;
    .section_big {
      color: #20c997;
    }
  }
  border-bottom: 1px solid #ddd;

  animation: fade 1s;
}

.section_loading {
  animation: shake 0.5s infinite;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shake {
  from {
    top: 0px;
  }
  50% {
    top: 4px;
  }
  to {
    top: 0px;
  }
}
