.section {
  max-width: 600px;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  .section_big {
    font-size: 24px;
    font-weight: 700;
  }
  .section_small {
    color: #aaa;
  }
  .section_right {
    text-align: right;
    .section_big {
      color: #20c997;
    }
  }
  border-bottom: 1px solid #ddd;
}
